{
    "extends": ["eslint:recommended", "google"],
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "JC": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 2],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-cond-assign": ["error", "always"],
        "no-console": "off"
    }
}
