/* Reset */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
b,
i,
dl,
dt,
dd,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
}

article,
section {
    display: block;
}

html {
    font-size: 50px;
    height: 100%;
}

body {
    font-family: 'Arial';
    font-size: .24rem;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(to bottom left, #ffbb88, #ff75bc, #af3aed);
}

a {
    text-decoration: none;
    color: #666;
}


/* Tool */

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.error {
    color: #b94a48;
    border-color: #953b39;
    box-shadow: 0 0 6px #d59392;
}

.rtl {
    direction: rtl;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: ' ';
}

.clearfix:after {
    clear: both;
}

.window-box {
    position: absolute;
    height: 100%;
    width: 100%;
    perspective: 800px;
    -webkit-perspective: 800px;
    overflow: hidden;
}

.left-side-box {
    position: absolute;
    left: -3rem;
    width: 3rem;
    height: 100%;
    padding-right: 1rem;
    z-index: 10;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transform-origin: right;
    -webkit-transform-origin: right;
}

.left-side {
    position: absolute;
    left: 0;
    width: 3rem;
    height: 100%;

    transition: all .4s ease;
    -webkit-transition: all .4s ease;

    transform-origin: right;
    -webkit-transform-origin: right;

    transform: rotateY(-30deg);
    -webkit-transform: rotateY(-30deg);
}

.center-view-box {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transform-origin: left;
    -webkit-transform-origin: left;

    background: linear-gradient(to bottom, #1d2641, #161b33);
}

.demo-list-box {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.active-window .left-side-box {
    transform: translateX(3rem);
    -webkit-transform: translateX(3rem);
}

.active-window .left-side {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
}

.active-window .center-view-box {
    transform: translateX(3rem) rotateY(25deg);
    -webkit-transform: translateX(3rem) rotateY(25deg);
}

.view-port {
    position: absolute;
    border: 0px;
    width: 100%;
    height: 100%;
}

.gray-face {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    visibility: hidden;
    background: linear-gradient(to right, rgba(249, 157, 149, 0.01), rgba(249, 157, 149, 0.2));
    transform: translateZ(1px);
    -webkit-transform: translateZ(1px);
}

.active-window .gray-face {
    visibility: visible;
    opacity: 1;
}



/**
 * Shrink styles
 */
.demo-list-box {
    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
         -o-perspective: 400px;
            perspective: 400px;

    -webkit-perspective-origin: 100% 50%;
       -moz-perspective-origin: 100% 50%;
        -ms-perspective-origin: 100% 50%;
         -o-perspective-origin: 100% 50%;
            perspective-origin: 100% 50%;
}


.demo-list-box li {
    -webkit-transition: all 600ms ease,
                        opacity 200ms ease;
       -moz-transition: all 600ms ease;
        -ms-transition: all 600ms ease,
                        opacity 200ms ease;
         -o-transition: all 600ms ease,
                        opacity 200ms ease;
            transition: all 600ms ease,
                        opacity 200ms ease;

    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
         -o-transform-origin: 100% 0%;
            transform-origin: 100% 0%;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
}

.demo-list-box .demo-title {
  position: relative;
  padding-left: 0.3rem;
  color: #ff5286;
}

.demo-list-box .demo-title:after {
  position: absolute;
  content: '';
  left: 0.1rem;
  top: 0.34rem;
  border: .1rem solid transparent;
  border-top: .1rem solid #ff5286;
  transform: scaleX(0.6);
}

/* .demo-list-box .demo-title:nth-child(odd):after {
  position: absolute;
  border-top: .06rem solid #6461f9;
} */

.demo-item {
    height: 0.8rem;
    background-color: #1d2240;
    font-size: .2rem;
    color: #8a89c2;
    padding-left: 0.4rem;
    line-height: 0.8rem;
}

.demo-list-box li:nth-child(odd) {
    background-color: #282e54;
}

.demo-list-box li.past {
    opacity: 0;

    -webkit-transform: rotateY( -90deg );
       -moz-transform: rotateY( -90deg );
        -ms-transform: rotateY( -90deg );
         -o-transform: rotateY( -90deg );
            transform: rotateY( -90deg );
}
.demo-list-box li.future {
    opacity: 0;

    -webkit-transform: rotateY( -90deg );
       -moz-transform: rotateY( -90deg );
        -ms-transform: rotateY( -90deg );
         -o-transform: rotateY( -90deg );
            transform: rotateY( -90deg );
}


.open-other {
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    width: 1.8rem;
    height: .4rem;
    background-color: #646794;
    font-size: .18rem;
    line-height: .4rem;
    color: #fff;
    text-align: center;
    z-index: 20;
}
